.cap {
    background-color: #EAEAEA;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
  }
    .neck {
      background-color: #C21807;
      height: 90px;
      width: 80px;
      margin: auto;
      margin-top: 1px;
    }
  .body {
  /*     background-color: red; */
      background: linear-gradient(to right, #7C0A02, #C21807);
      height: 330px;
      width: 200px;
      margin: auto;
      border-radius: 70px 70px 10px 10px;
    margin-top: 1px;
    position: relative;
    }
  .body-content {
    height: 100px;
    width: 200px;
    background-color: #DCDCDC;
    position: absolute;
    top: 120px;
    border-radius: 8px;
  }